body{
	margin: 0px;
	padding: 0px;
	transition: 1s;
	background-color: black;
	font-family: 'Lato';
}

.viewport{
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	position: relative;
}

a:link{
	text-decoration: none;
	font-weight: 700;
	color: #6b6b6b;
}